---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm Charles Chen</div>
      <div class="text-3xl py-3 font-bold">I'm making software for startups and enterprises &mdash; but mostly for fun (not much profit 🤣)</div>
      <div class="py-2">
        <p>
          <text class="text-lg">
            Here you'll find my thoughts on my experiences working with TypeScript, Vue, React, C#, .NET, cloud, startups, and building software and teams.
          </text>
        </p>
        <p class="mt-3">
          <text class="text-lg">
            Have an interesting startup idea? Curious about my projects? 👇
          </text>
        </p>
      </div>
      <div class="mt-8 text-center">
        <a class="btn w-1/2" href="https://linkedin.com/in/charlescchen" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">What I'm working on</div>
    </div>

    <HorizontalCard
      title="Zeeq.ai"
      img="/img/projects/zeeq-ai.png"
      desc="AI agent that watchs ClinicalTrials.gov for the latest updates and generates a personalized newsletter."
      url="https://zeeq.ai"
      badge="2024"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Meld"
      img="/img/projects/meld.png"
      desc="AI super powers for your documents"
      url="https://usemeld.com"
      badge="2023"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="CodeRev.app"
      img="/img/projects/coderev-og.png"
      desc="Code review as interview for technical candidates."
      url="https://coderev.app"
      badge="2023"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Turas.app"
      img="/img/projects/turas-taiwan.png"
      desc="Collaborative trip planning tool for organized travelers."
      url="https://turas.app"
      badge="2023"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Thinktastic"
      img="/img/projects/thinktastic.png"
      desc="Chat-bot interface to your business documents and operational knowledge."
      url="https://www.thinktastic.com"
      badge="2021"
    />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from the blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          pubDate={post.data.pubDate}
          tags={post.data.tags?.split(",")}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

    <div class="mt-8 text-center">
      <a class="btn w-1/2" href="/blog" target="_blank"> Read more </a>
    </div>
</BaseLayout>
