---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10">
    <p class="pb-2">
      Hands-on expertise with system architecture and delivery of full-stack,
      scalable, serverless, containerized, commercial/consumer software in the
      cloud on Azure, Google Cloud, and AWS in both enterprises and VC-backed
      startups.
    </p>

    <p class="pb-2">
      Technical generalist with a broad set of experience and skills from
      architecture to infrastructure to devops and software development from the
      ground up.
    </p>

    <p class="pb-2">
      15 years of experience in regulated industries building large-scale, GxP
      validated, commercial-off-the-shelf software solutions actively used in
      production by enterprise customers such as Novo Nordisk, Boehringer-Ingelheim,
      Roche, and more.
    </p>

    <p class="pb-2">
      Qualified, hired, trained, mentored, and led software engineering teams
      building commercial enterprise software. Over a decade of experience building
      and managing remote-first teams.
    </p>

    <p class="pb-2">
      Enjoy working at the edges of my knowledge, learning, teaching, and writing
      about software engineering.
    </p>

    <p class="pb-2">
      I love building things.  <a href="https://imgur.com/gallery/So01ZL0" target="_blank">
        This is one of my favorite things I've built (and the Internet seems to have loved it as well)
      </a>.
    </p>

    <p class="pb-2">
      Reach out if you're interested in working together!
    </p>
  </div>

  <!--
  <div class="pb-2 mt-8 mb-8 text-center">
    <a class="btn w-1/2" href="/charles_chen_resume_2023.pdf" target="_blank"> Download PDF resume </a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Co-founder, CTO"
      subtitle="Turas Global, Inc. • 05.2023 - Present"
      link="turas.app">
      Turas combines travel planning, story telling, and discovery into one platform. Try it out for planning your next trip!
    </TimeLineElement>
    <TimeLineElement
      title="Principal Software Engineer"
      subtitle="Ownit Commerce • 05.2022 - 05.2023"
      link="ownit.co">
      A seed stage VC-backed startup, Ownit is building AI-powered experiences for e-commerce. Responsible for designing and implementing a distributed content-scraping and price ingestion pipeline, building a categorization engine using OpenAI embeddings and Postgres vector search, and evolving the infrastructure approach from Elastic Beanstalk to container-based tooling. (AWS (CloudFront, ECS Fargate, EC2, Elastic Beanstalk, S3, DynamoDB, RDS Postgres, Route 53, CDK), React/Next.js, Vue.js, .NET 6, EF Core, Moq, XUnit, TypeScript, C#)
    </TimeLineElement>
    <TimeLineElement
      title="Lead Software Engineer"
      subtitle="Motion (YC W20) • 01.2022 - 05.2022"
      link="usemotion.com">
      A YCombinator (W20) alum; Motion provides intelligent personal and team calendar management using an AI scheduling algorithm that prioritizes and organizes tasks each day for optimal productivity. Built a novel recurrence scheduling algorithm and designed technical roadmap to address core cost/scalability issues with the Cloud Functions based architecture. (Google Cloud Functions, Google Cloud Pub/Sub, Google Cloud Tasks, Google Firebase, Node.js, JavaScript, TypeScript, React.js, Firestore, Playwright, Jest)
    </TimeLineElement>
    <TimeLineElement
      title="Founder, CTO"
      subtitle="Thinktastic • 12.2020 - 12.2021"
      link="thinktastic.com">
      Building a cloud-native SaaS using .NET 6 on Azure serverless cloud architecture to deliver an NLP and machine learning powered solution that empowers teams to collaborate and operationalize information embedded in unstructured document content sources.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Advisor"
      subtitle="Apprentice • 09.2021 - 11.2021"
      link="apprentice.io">
      Worked with CEO and senior VP leadership team to provide strategic guidance for GxP validation. Provided hands-on technical training to engineering and product teams using test automation with Playwright and document automation using Confluence.
    </TimeLineElement>
    <TimeLineElement
      title="Session Presenter"
      subtitle="Azure Serverless Conference • 09.2021"
      link="microsoft.com">
      One of five community presenters for Microsoft’s inaugural Azure Serverless Conference (North America). <a href="https://learn.microsoft.com/en-us/events/azure-serverless-azure-serverless-conf/surfacing-fda-covid-data-using-serverless-functions-and-cosmosdb-with-charles-chen" target="_blank">Prepared and presented an open source project for a live session on building serverless architectures using .NET Azure Functions and Azure CosmosDB to a global audience</a>.
    </TimeLineElement>
    <TimeLineElement
      title="Director of Engineering"
      subtitle="InnovoCommerce • 07.2011 - 12.2020"
      link="innovocommerce.com">
      <p class="pb-2">
      Managed the <a href="https://www.businesswire.com/news/home/20150820005415/en/Boehringer-Ingelheim-Upgrades-to-Massively-Scalable-innovoPOINT%C2%AE-6.6-for-Enterprise-Scalable-Clinical-and-Investigator-Portal-Solution" target="_blank">innovoPOINT</a> product pipeline from requirements scoping to development to multi-million dollar go-lives and ongoing support.  The product is used by customers such as Novo Nordisk to manage secure exchange of essential documents, FDA 21 CFR Part 11 electronic signatures, SCORM training, and distribution of time sensitive safety notifications to clinical trial sites at a global scale (60,000+ users at 12,000+ sites around the world exchanging over 1 million documents annually).
      </p>
      <p class="pb-2">
      Designed and implemented the core distributed, high-throughput batch event processing architecture using ZeroMQ to enable an event-driven architecture managing millions of nodes in a Neo4j graph database.
      </p>
      <p class="pb-2">
      Collaborated with customer IT leaders to scope and design enterprise systems integrations to eTMF (Veeva Vault, FirstDoc), CTMS (Impact), and SSO (<a href="https://www.exostar.com/press/innovocommerce-announces-partnership-with-exostar-for-high-assurance-single-sign/" target="_blank">Exostar</a>, Ping Identity, <a href="https://www.businesswire.com/news/home/20160608005493/en/InnovoCommerce%C2%AE-Announces-innovoPOINT%C2%AE-Clinical-Investigator-Portal-Integration-with-Microsoft%C2%AE-Office-365-and-Azure-Active-Directory-for-Single-Sign-On" target="_blank">Office 365</a>).  Coordinated cross-functional efforts across engineering, QA, and support leads.
      </p>
      <p class="pb-2">
      Built near-shore and on-shore engineering teams from the ground up; responsible for recruiting, training, mentoring, and supporting remote team members.
      </p>
      <p class="pb-2">
      Implemented code quality standards, defined SDLC processes, evaluated emerging technologies, planned engineering roadmap, expedited the QA process via automation and streamlined documentation, and refined the DevOps pipeline.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Consultant"
      subtitle="Paragon Solutions (Now CGI) • 10.2009 - 01.2011">
      Worked with clients Abbott Labs, Citibank, Merck, GSK, Sanofi-Aventis,
      Cephalon, and Bank of America to define requirements, deliver proof of
      concept solutions, and roll out line of business solutions.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Consultant"
      subtitle="Computer Sciences Corportaion (Now DXC, via Acquisition) • 02.2008 - 10.2009">
      (Acquired First Consulting Group) Led team of associate consultants and provided senior technical leadership, guidance, and direction for development of a custom publishing tool.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="First Consulting Group (via Acquisition) • 07.2007 - 02.2008">
      (Acquired Zorch Software)
    </TimeLineElement>
    <TimeLineElement
      title="Lead Software Engineer"
      subtitle="Zorch Software • 03.2006 - 07.2007">
      Architected and led development of the <a href="https://www.bioprocessonline.com/doc/first-consulting-group-introduces-firstpoint-0001" target="_blank">FirstPoint product for management of documents in regulated workflows.</a>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Consultant"
      subtitle="International Network Services (Now BT) • 01.2005 - 03.2006">
      Technical solution design and development for various Fortune 500 companies across a broad set of clients including Pfizer, Northrop Grumman, and Angelo Gordon.
    </TimeLineElement>
    <TimeLineElement
      title="Contract Software Engineer"
      subtitle="Merrill Lynch • 10.2004 - 12.2004">
      Developed automated processes and tools for intranet HR applications and ETL packages.
    </TimeLineElement>
    <TimeLineElement
      title="Contract Software Engineer"
      subtitle="Dow Jones • 07.2004 - 10.2004">
      Front-end web application engineer modernizing Dow Jones Factiva with a focus on web and accessibility standards.
    </TimeLineElement>
    <TimeLineElement
      title="Contract Software Engineer"
      subtitle="ITT Industries • 06.2003 - 05.2004">
      Planned and executed database modernization, optimization, and upsizing. Rearchitected, consolidated, and modernized intranet HR applications. Performed technical evaluation of portal technologies for senior IT leadership.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Rutgers Univeristy -  New Brunswick, NJ"
      subtitle="1999 to 2003 - B.Sc. Computer Science, Mathematics minor"
    />
  </div>
  -->

  <div class="my-5">
    <div class="text-2xl w-full">Things I'm Good At:</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Building things</li>
  </ul>

  <div class="my-5">
    <div class="text-2xl w-full">Things I'm Bad At:</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Selling things</li>
  </ul>

  <div class="my-5">
    <div class="text-2xl w-full">Tech</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>AWS</li>
    <li>Azure</li>
    <li>Google Cloud</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>TypeScript</li>
    <li>Vue</li>
    <li>.NET</li>
    <li>C#</li>
    <li>Entity Framework</li>
    <li>GraphQL</li>
    <li>Node.js</li>
    <li>CosmosDB</li>
    <li>DynamoDB</li>
    <li>Firestore</li>
    <li>Neo4j</li>
    <li>Microsoft SQL Server</li>
    <li>Postgres</li>
    <li>Azure AD B2C</li>
    <li>AWS Cognito</li>
    <li>Google Firebase Auth</li>
    <li>OAuth</li>
    <li>Cypress</li>
    <li>Jest</li>
    <li>Playwright</li>
    <li>Vitest</li>
    <li>GitHub Actions</li>
    <li>GitLab CI/CD</li>
    <li>Kubernetes</li>
    <li>PowerShell</li>
    <li>Shell Scripting</li>
  </ul>
</BaseLayout>

<style>
  a { text-decoration: underline;}
</style>
